@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  overscroll-behavior: none;
}

body {
  /* background: var(--quest-tg-theme-secondary-bg-color, white); */
  background: #fff;
  overflow: hidden;
  /* Отключает горизонтальную прокрутку */
  touch-action: manipulation;
  /* Отключает прокрутку за пределы страницы */
  text-rendering: optimizeSpeed;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --quest-safe-area-inset-bottom: calc(100vh - var(--quest-tg-viewport-stable-height, 100vh));
}

#root {
  overflow-y: auto;
}

.text-gradient {
  background: -webkit-linear-gradient(35deg, #e9c7cf 0, #abd6e0 50%, #bdd2da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-quest-primary to-quest-tertiary bg-clip-text text-transparent;
  }

  .emoji-container {
    @apply bg-white rounded-full p-4 shadow-lg flex items-center justify-center w-16 h-16 md:w-20 md:h-20;
  }

  .quest-card {
    @apply bg-white/90 backdrop-blur-sm border border-quest-primary/20 rounded-xl p-6 shadow-lg transition-all duration-300 hover:shadow-xl hover:border-quest-primary/40;
  }
}
