@keyframes gradientMorph1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientMorph2 {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* Классы анимации */
.animate-gradient-morph1 {
  animation: gradientMorph1 10s ease infinite;
  background-size: 200% 200%;
}

.animate-gradient-morph2 {
  animation: gradientMorph2 12s ease infinite;
  background-size: 200% 200%;
}
